#barrel {
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
#slider {
    float: left;
    width: 100%;
}

#slidecontainer {
    padding: 20px;
    text-align: center;
    width: 50%;
}

#maxValue {
    float: right;
}

#minValue {
    float: left;
}